<div id="{{key}}-group" class="form-group{{#compound}} form-group-compound{{/compound}}{{#error}} error{{/error}}{{#groupClassName}} {{groupClassName}}{{/groupClassName}}"
{{#groupAttributes}}
    {{attribute}}="{{value}}"
{{/groupAttributes}}
>
    <label for="{{key}}" class="{{labelClassName}}">
        {{{label}}}
        {{#hint}}<span {{$hintId}}id="{{hintId}}" {{/hintId}}class="form-hint">{{hint}}</span>{{/hint}}
        {{#error}}<span class="error-message">{{error.message}}</span>{{/error}}
    </label>
    <select id="{{key}}" class="{{#className}}{{className}}{{/className}}" name="{{key}}" aria-required="{{required}}">
    {{#items}}
        <option value="{{value}}"
        {{#selected}}selected{{/selected}}
        {{#attributes}}
            {{attribute}}="{{value}}"
        {{/attributes}}
        >
        {{label}}
        </option>
    {{/items}}
    </select>
</div>
